/bazel-bin
/bazel-genfiles
/bazel-out
/bazel-structs
/bazel-testlogs
/*.a
/protoc-gen-structs-cassandra
/Makefile
/CMakeCache.txt
/cmake_install.cmake
/CMakeFiles
/.ijwb

/protoc-gen-structs-cassandra-java
/protoc-gen-structs-cassandra-spark-java
/protoc-gen-structs-cassandra-table
/protoc-gen-structs-bigquery-schema
